body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #008080;
}

section {
    margin: 20px;
    
}

#about, #projects, #contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #008080;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #008080;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006666;
}
a:hover{
    text-decoration: none;
}


